    /* common style */
    
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
        max-width: 1400px;
    }
    /* button style css start */
    
    .btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 25px;
        gap: 10px;
        background-color: #DD0000;
        width: 129px;
        height: 29px;
        border-radius: 5px;
        border: 0;
        transition: all 0.3s ease 0s;
    }
    
    .btn-text a {
        font-weight: 400;
        font-size: 16px;
        color: white;
        text-decoration: none;
    }
    
    .btn-icon {
        height: 20px;
    }
    /*------================== transition property css-----------===========  */
    
    .btn:hover {
        background-color: yellowgreen;
    }
    /* button style css end */
    /* banner section css start */
    
    .banner-section {
        margin: 20px;
        display: flex;
        background-color: #161616;
        color: white;
        border-radius: 30px;
    }
    
    .banner-section-text {
        width: 50%;
        padding-left: 75px;
        padding-top: 120px;
    }
    
    .banner-section-text h1 {
        font-weight: 700;
        font-size: 70px;
        line-height: 72px;
        padding-bottom: 15px;
    }
    
    .banner-section-text p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 15px;
    }
    
    .banner-section-image {
        width: 50%;
    }
    
    .banner-section-image img {
        height: 613px;
        width: 473px;
        padding-left: 35px;
        padding-top: 30px;
    }
    /* banner section css end */
    /* blog section css start */
    
    .blog-section {
        display: flex;
        margin: 50px 20px;
    }
    /* menu css */
    
    .menu {
        width: 20%;
        height: 265px;
        background-color: #000;
        border-radius: 10px;
        margin-right: 15px;
    }
    
    .menu-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 25px;
    }
    
    .menu-button a {
        text-decoration: none;
        color: #000;
        background-color: white;
        padding: 10px;
    }
    
    #upcoming-match {
        margin-top: 32px;
        border-radius: 5px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }
    
    #group {
        padding: 10px 50px;
        border-radius: 5px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }
    
    #blog {
        padding: 10px 73px;
        border-radius: 5px;
        background-color: #DD0000;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }
    
    .live-video-section {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 25px;
        grid-column-gap: 25px;
    }
    
    .live-video-section-description {
        box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.89);
        border-radius: 10px;
        padding-bottom: 8px;
        cursor: pointer;
    }
    
    .live-video-thumbnail img {
        width: 100%;
    }
    
    .live-video-text-align {
        margin-left: 15px;
    }
    
    .live-video-info {
        display: flex;
        gap: 25px;
        color: #454545;
    }
    
    .live-video-info p {
        display: inline;
        padding-left: 2px;
        padding-left: 2px;
    }
    /* blog section css end */
    /* View more button css start */
    
    .view-more-button {
        width: 100%;
        text-align: center;
        margin: 55px 0;
        display: none;
    }
    
    .view-more-button a {
        padding: 12px 25px;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: white;
        text-decoration: none;
        background-color: #DD0000;
        border-radius: 5px;
    }
    /* View more button css end */
    /*-------------------- 
footer section css
-------------------- */
    
    footer {
        width: 100%;
        height: 300px;
        background-color: black;
        color: white;
        text-align: center;
    }
    
    .footer-text-section {
        color: white;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 45px;
    }
    
    .footer-text-section h2 {
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
    }
    
    hr {
        width: 80%;
        text-align: center;
        margin-left: 115px;
        border: 0px;
        height: 2px;
        background-image: linear-gradient(to right, rgba(119, 136, 153, 0), rgba(119, 136, 153, 0.75), rgba(119, 136, 153, 0));
    }
    
    .footer-info-section {
        display: flex;
        justify-content: center;
        padding-top: 28px;
        gap: 30px;
    }
    
    .footer-icon {
        padding-top: 10px;
    }
    
    .contact-icon {
        margin: 5px;
        font-size: 25px;
        cursor: pointer;
    }
    /* Responsive CSS */
    /*-------------- 

    /* responsive css for laptop */
    
    @media only screen and (min-width:1024px) {
        .banner-section {
            margin: 30px 40px;
        }
        .banner-section-text {
            width: 40%;
            padding-left: 60px;
            padding-top: 105px;
        }
        .banner-section-text h1 {
            font-weight: 600;
            font-size: 60px;
            line-height: 60px;
            padding-bottom: 20px;
        }
        .banner-section-text p {
            padding-bottom: 20px;
        }
        .banner-section-image {
            width: 60%;
        }
        .blog-section {
            margin: 50px 40px;
        }
        .menu {
            width: 25%;
        }
    }
    /* responsive for tablet */
    
    @media only screen and (min-width:768px) and ( max-width:1023px) {
        .banner-section {
            margin: 30px 40px;
        }
        .banner-section-text {
            padding-left: 20px;
            padding-top: 105px;
        }
        .banner-section-text h1 {
            font-size: 50px;
            line-height: 45px;
            font-weight: 500;
        }
        .banner-section-text p {
            height: 45px;
            width: 350px;
            padding: 0;
            overflow: hidden;
            position: relative;
            display: block;
            margin: 0 5px 0 5px;
            text-align: center;
            text-decoration: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: white;
        }
        .banner-section-image img {
            height: 584px;
            width: 285px;
        }
        .blog-section {
            display: flex;
            flex-direction: column;
            margin: 30px 40px;
        }
        .menu {
            width: 100%;
            height: 100px;
            background-color: white;
        }
        .menu-button {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 25px;
        }
        #upcoming-match {
            margin-top: 0px;
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.89);
        }
        #group {
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.89);
        }
        #blog {
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.89);
        }
        .live-video-section {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .view-more-button {
            display: block;
        }
    }
    /*  responsive CSS for Mobile */
    
    @media only screen and (min-width:420px) and (max-width:767px) {
        .btn {
            padding-left: 61px;
            margin-left: -35px;
        }
        .banner-section {
            width: 88%;
            margin: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .banner-section-text {
            padding-top: 25px;
            text-align: center;
        }
        .banner-section-text h1 {
            font-weight: 600;
            font-size: 29px;
            line-height: 34px;
            margin-left: -60px;
        }
        .banner-section-text p {
            height: 45px;
            width: 180px;
            padding: 0;
            overflow: hidden;
            position: relative;
            display: block;
            margin: 0 5px 0 5px;
            text-align: center;
            text-decoration: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: white;
            margin-left: -22px;
        }
        .banner-section-image {
            width: 100%;
        }
        .banner-section-image img {
            height: 250px;
            width: 256px;
            margin-left: 23%;
        }
        /*  */
        .blog-section {
            display: flex;
            flex-direction: column;
            margin: 30px 40px;
        }
        .menu {
            width: 100%;
            height: 240px;
            background-color: white;
        }
        .menu-button {
            display: flex;
            flex-direction: column;
        }
        #upcoming-match {
            margin-top: 0px;
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.89);
        }
        #group {
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.89);
        }
        #blog {
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.89);
        }
        .live-video-section {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        footer {
            height: 600px;
        }
        hr {
            margin-left: 30px;
        }
        .footer-info-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }